
* {
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}

body, html {
    font-family: "jaf-domus", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #44506F;
}

.desktop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 5%;
}

.holder {
    position: absolute;
    width: 100%;
    height: 100%;
}

.scale-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top left;
}


.icon-wrapper {
    text-align: center;
    z-index: 10;
}

.icon-title {
    font-size: 15px;
    color: #44506F;
    font-weight: bold;
}

.icon-title-min {
  font-size: 16px;
  color: #44506F;
  font-weight: bold;
  white-space: nowrap; /* Impede quebra de linha */
}

/* Títulos individuais dos ícones */

.title-wms-wis {
  position: absolute;
  left: -20%;
  top: 80%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-wms-senior {
  position: absolute;
  left: 48%;
  top: 75%;
  margin-top: 6px;
  transform: rotateX(-56deg) rotateZ(-45deg) translateX(0px);
}

.title-wms-alcis {
  position: absolute;
  left: -20%;
  top: 75%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-wms-x {
  position: absolute;
  left: 65%;
  top: 75%;
  margin-top: 6px;
  transform: rotateX(-56deg) rotateZ(-45deg) translateX(0px);
}

.title-plataforma-frete {
  position: absolute;
  left: -85%;
  top: -50%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-confirma-facil {
  position: absolute;
  left: 15%;
  top: 70%;
  margin-top: 6px;
  transform: rotateX(-54deg) rotateZ(-45deg) translateX(0px);
}

.title-hcm {
  position: absolute;
  left: 0%;
  top: 70%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-gko-frete {
  position: absolute;
  left: 50%;
  top: 70%;
  margin-top: 6px;
  transform: rotateX(-54deg) rotateZ(-45deg) translateX(0px);
}

.title-erp-x {
  position: absolute;
  left: 0%;
  top: 75%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-acesso {
  position: absolute;
  left: -10%;
  top: 71%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-gestao-patio {
  position: absolute;
  left: -35%;
  top: 75%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-tms {
  position: absolute;
  left: 0%;
  top: 70%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-mao-de-obra {
  position: absolute;
  left:45%;
  top: 65%;
  margin-top: 6px;
  transform: rotateX(-54deg) rotateZ(-45deg) translateX(0px);
}

.title-icon-erp {
  position: absolute;
  left: -10%;
  top: 70%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-gestao-frotas {
  position: absolute;
  left: -50%;
  top: 70%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-tracking-pedidos {
  position: absolute;
  left: 20%;
  top: 65%;
  margin-top: 6px;
  transform: rotateX(-54deg) rotateZ(-45deg) translateX(0px);
}

.title-roteirizador {
  position: absolute;
  left: -46%;
  top: 63%;
  margin-top: 6px;
  transform: rotateX(56deg) rotateZ(46deg) translateX(0px);
}

.title-torre-controle {
  position: absolute;
  left: 20%;
  top: 75%;
  margin-top: 6px;
  transform: rotateX(-54deg) rotateZ(-45deg) translateX(0px);
}

/*ITEM*/

.item {
    display: inline-block;
    z-index: 2;
}

.item img {
    width: 100px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1);
    display: block;
}

.item:hover img {
    transform: scale(1.1);
}

.new-items {
    display: inline-block;
}

.new-items img {
    width: 80px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1);
}

.new-items:hover img {
    transform: scale(1.1);
}

.background,
.background-wms-wis,
.background-wms-senior,
.background-wms-alcis,
.background-gestao-patio,
.background-gestao-frotas,
.background-gestao-mao-de-obra,
.background-roteirizador,
.background-torre-controle,
.background-tracking-pedidos,
.background-gko-frete,
.background-wms-x,
.background-plataforma-frete,
.background-confirma-facil,
.background-hcm,
.background-erp-x,
.background-erp-xt,
.background-acesso,
.background-tms,
.background-mao-de-obra,
.background-icon-xt {
    width: 856px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: -53px;
    margin-top: -13px;
    display: none;
    pointer-events: none;
}

.background {
    display: block;
}

/*MODAIS*/
.modal {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 400px;
  max-height: 60vh;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  border-radius: 12px;
  z-index: 999;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.modal.hidden {
  display: none;
}



.modal-content {
  position: relative;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal h2 {
  font-size: 18px;
  margin-top: 0;
}

#fecharModal {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
}

.modal-info ul {
  padding-left: 20px;
  margin-top: 10px;
}

.modal-info li {
  margin-bottom: 6px;
  line-height: 1.4em;
}

